---
layout: default
title: Category Archive
---

<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
    <div class="container">
        <div class="collection-title">
            <h2 style="font-size: 35px;">{{ page.title }}</h2>
        </div>
    </div>
</section>

<article class="post container">
    {% for post in site.posts %}
    {% if post.categories contains page.category or post.category == page.category %}
    {% include postbox.html %}
    {% endif %}

    {% endfor %}
</article>